
.orcamento-header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.orcamento-button{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-around;
background-color: #f6f7f8;
padding: 10px 0;
}

.card{
margin-top: 10px;
}